/*Área do cabeçalho*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
    --red:#d63a25;
    --white:#d3d3d3;
    --grey: #d3d5b0;
    --dark:#1e1c2a;
} 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    
}

.navegation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: #000000 0px 1px 20px;
    width: auto;
    background: var(--red);
    transition: all 0.5s;
    color: var(--dark);
}

.logo img{
    height: 50px;
    width: 80px;
}

.navegation ul{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navegation ul li a{
    color: var(--white);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.8s;
}

.navegation ul li a:hover{
    text-decoration: underline;
}

.login{
    color: var(--white);
    font-size: 17px;
    font-weight: 500;

}

.login:hover{
    text-decoration: underline;
    transition: all 3s;

}

.navegation i{
    font-size: 1.7rem;
    cursor: pointer;
}

.menu{
    cursor: pointer;
    display: none;
}

.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--dark);
    margin: 5px auto;
    transition: all 0.3s;
}



@media screen and (max-width: 1028px){
    .navegation{
        padding: 18px 20px;
        width: 100%;
    }
    .logo{
        justify-content: center;
    }
       
    
    

   
    .menu.ativo .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .menu.ativo .bar:nth-child(2){
        opacity: 0;
    }

    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
       display: fixed;
    }

    .nav-menu.ativo{
        right: 0;
        
    }
    .nav-item{
        margin: 18px 0;
    }

}



@media screen and (max-width: 768px){
    .navegation{
        padding: 18px 20px;
        width: 100%;
    }
    
    .nav-item{
        display: fixed;
    }
       
    .menu{
        display: block;
    }

    .menu.ativo .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .menu.ativo .bar:nth-child(2){
        opacity: 0;
    }

    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: var(--red);
        gap: -10px;
        transition: 0.5s;
        color: var(--dark);
    }

    .nav-menu.ativo{
        right: 0;
        
    }
    .nav-item{
        margin: 18px 0;
    }

}

@media screen and (max-width: 456px){
    .navegation{
        padding: 18px 20px;
        width: auto;
        display: fixed;
    }

    .menu{
        display: fixed;
        margin-right: 1.5rem;
    }

    
   
    .menu.ativo .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .menu.ativo .bar:nth-child(2){
        opacity: 0;
    }

    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        top: 70px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: var(--red);
        gap: -10px;
        transition: 0.5s;
        color: var(--dark);
    }

    .nav-menu.ativo{
        right: 0;
        
    }
    .nav-item{
        margin: 18px 0;
    }

}


/*Área do corpo*/

body{

    background: var(--grey);
}
.box-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
    background: var(--grey);
    margin-bottom: 1rem;
    width: auto;
    height: auto;

}

.box{
    margin-top: 1rem;
    background: var(--white);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin: 1rem 1rem 0rem 1rem;
    border-radius: 20px;
    padding: 20px;
    cursor: pointer;
    transition: 0.5s;
   
}

i{
    color: var(--red);
}

span i:nth-child(1){
    color: var(--dark);
}

.box:hover{
    transform: scale(1.05);
}

.box .image{
    padding: 10px;
    background: #25d366;
    text-align: center;
    border-radius: 20px 20px 0 0;
}

.box .image img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    filter: drop-shadow(0 3px 5px black)
}

.box .info .title{
    padding: 10px;
    color: var(--dark);
    font-size: 20px;
}

.box .info .subInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 10px;
}
  
.box .info .subInfo .price{
    
    color: var(--red);
    font-size: 20px;
    display: flex;
    justify-content:center;

}

@media screen and (max-width: 1028px){
    
    .box-container{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2,2fr);
       
    }
    
}


@media screen and (max-width: 768px){


    .box-container{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2,0fr);
    }
}



@media screen and (max-width: 668px){

    .box-container{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(1,0fr)
    }
}





/* Área do rodapé*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    letter-spacing: 1px;

}

footer{
    width: 100%;
    color: var(--white);
    background: var(--dark);
    margin-top: 3rem;
    
}

.footer-content{
    background: var(--dark);
    display: grid;
    grid-template-columns: repeat(3,0fr);
    padding: 2rem 3rem;
    justify-content: space-between;
    flex-direction: row;
}

.footer-contacts h1{
    margin-bottom: 1.2rem;
    color: var(--red);
    transition: all 0.3s;
}

.footer-contacts h1:hover{
    color: var(--white);
    cursor: pointer;
}

.footer-social-media{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

.footer-social-media i{
    color: var(--white);
}

.footer-social-media .footer-link{
    height: 2.5rem;
    width: 2.5rem;
    color: var(--white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}


.footer-social-media .footer-link:hover{
    opacity: 0.7;
}

#instagram{
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#git-hub{
    background: black;
}

#whatsapp{
    background: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    list-style: none;
}

.footer-list h3{
    color: var(--red);
    transition: all 0.3s;
}


.footer-list h3:hover{
    color: var(--white);
    cursor: pointer;
}

.footer-list .footer-link{
    color: var(--white);
    transition: all 0.3s;
}

.footer-list .footer-link:hover{
    color: var(--red);
    cursor: pointer;
}

.footer-copyright{
    height: 2rem;
    display: flex;
    justify-content: center;
    background-color: black;
    font-size: 0.6rem;
    padding: 0.7rem;
}


@media screen and (max-width: 768px){

    .footer-content{
        width: 100%;
        grid-template-columns: repeat(2,0fr);
        gap: 2rem;
    }

    

}

@media screen and (max-width: 426px){
   
    .footer-content{
        width: 100%;
        grid-template-columns: repeat(1,0fr);
        padding: 2rem 3rem;
        gap: 1rem;
    }

}



